language:
- generic
dist: trusty
sudo: true
addons:
  apt:
    packages:
    - texlive-latex-extra
    - texlive-luatex
    - cm-super
    - latexmk
    - tex4ht
    - texlive-lang-italian
    - texlive-bibtex-extra
    - biber
script:
- make
before_deploy: 
- git fetch --tags
