language:
- generic
dist: trusty
sudo: true
addons:
  apt:
    packages:
    - texlive-latex-extra
    - texlive-luatex
    - cm-super
    - latexmk
    - tex4ht
    - texlive-fonts-recommended
    - texlive-lang-italian
    - latex-xcolor
    - latex-beamer   
    - texlive-bibtex-extra
    - texlive-generic-extra
    - biber
script:
- make
before_deploy:
- git fetch --tags
